@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-darker-grotesque);
  --font-mono: var(--font-darker-grotesque);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f7fc;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-darker-grotesque), Arial, Helvetica, sans-serif;
}

.rounded-split-navbar {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  overflow: hidden;
}

.score-high {
  color: #4ade80; /* green-400 */
}

.score-medium {
  color: #fbbf24; /* amber-400 */
}

.score-low {
  color: #ef4444; /* red-500 */
}
